@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    background-color: #171717;
    background-image: url("../img/background1.jpg");
    background-size: cover;
}
a {
    color: #fff;
    text-decoration: none;
}
a:hover {
    color: #F26522;
}
.wrapper {
    width:1026px;
    margin:0 auto;
}
.header_container {
    display: flex;
    flex-flow: row nowrap;
    align-items: end;
    padding: 50px 0 15px;
}
.header_container .header_right_side {
    flex-grow: 1;
    text-align:right;
}
.logo {
    flex-grow: 1;
    line-height: 21px;
    font-weight: 700;
}
.logo a {
    background: url("../img/logo.svg") top left no-repeat;
    padding-left: 63px;
    display: inline-block;
    min-height: 47px;
}
.logo a:hover {
    background-image: url("../img/logo 2.svg");
}
.large_text {
    font-size: 29px;
    line-height: 30px;
}
.phone:hover {
    color: #F26522;
}
.phone {
    display: inline-block;
    padding-top: 19px;
}
.section .content{
    padding: 20px 0 50px 0;
}
.grid_3fr {
    display: grid;
    grid-template-columns: repeat(3, minmax(0,1fr));
    grid-gap: 37px 63px;
    text-align: center;
}
.grid_3fr .item {
    position: relative;
}
.item_image {
    display: block;
    width: 300px;
    height: 218px;
    position: relative;
    z-index: 1;
}
.info_card {
    position: absolute;
    z-index: -1;
    top:165px;
    left: 0;
    width: 300px;
    height: 55px;
    background: #F26522;
    padding: 10px 16px;
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    align-items: end;
    opacity: 0;
    transition: all .35s ease;
}
.item:hover .info_card {
    z-index: 3;
    opacity: 1;
}
.left_side,
.right_side {
    flex-grow: 1;
    text-align: left;
    font-size: 20px;
    line-height: 20px;
}
.right_side {
    text-align: right;
    font-size: 14px;
}
.right_side a:hover {
    color: #fff;
}
.small-text {
    font-size: 10px;
}
a.arrow:after {
    content: "";
    background: url("../img/arrow.svg") center right no-repeat;
    padding: 1px 24px 0 0;
}
.i1 .item_image {
    background: url("../img/image1.jpg") center no-repeat, linear-gradient(to top, #000, #fff);
}
.i2 .item_image {
    background: url("../img/image2.jpg") center no-repeat, linear-gradient(to top, #000, #fff);
}
.i3 .item_image {
    background: url("../img/image3.jpg") center no-repeat, linear-gradient(to top, #000, #fff);
}
.i4 .item_image {
    background: url("../img/image4.jpg") center no-repeat, linear-gradient(to top, #000, #fff);
}
.i5 .item_image {
    background: url("../img/image5.jpg") center no-repeat, linear-gradient(to top, #000, #fff);
}
.i6 .item_image {
    background: url("../img/image6.jpg") center no-repeat, linear-gradient(to top, #000, #fff);
}
footer {
    font-size: 12px;
    text-align: center;
    padding-bottom: 15px;
}